header{height:78px;background:#ffffff;}
header .common{height:78px;}
header .common h1{float:left;width:151px;height:37px;background:url(../img/logo.png) no-repeat;margin:20px 42px 0 0;}
header .common h1 a{display:block;width:151px;height:37px;}
header .common form{float:left;width:300px;height:78px;padding-top:20px;}
header .common form input{width:300px;height:36px;border:1px solid #cccccc;font-family: "微软雅黑";font-size:12px;color:#757575;}
header .common ul{float:left;}
header .common ul li{float:left;height:20px;margin-top:30px;line-height:20px;}
header .common ul li a{color:#777777;}
header .common ul li a:hover{color:#2c91c5;text-decoration:none;}
header .common ul li:nth-of-type(1){margin-left:120px;margin-right:30px;}
header .common ul li:nth-of-type(2){margin-right: 30px;}
header .common ul li:nth-of-type(3){padding-right: 30px;border-right:1px solid #e6e6e6;}
header .common ul li:nth-of-type(4){width:50px;height:30px;background:#169af3;margin:25px 10px 0 30px;line-height: 30px;text-align:center;border-radius:2px;}
header .common ul li:nth-of-type(4) a{color:#fff;}
header .common ul li:nth-of-type(5){width:50px;height:30px;margin:25px 0px 0 0px;line-height: 30px;text-align:center;border-radius:2px;border:1px solid #dbdbdb;}

/* 头部 */
nav{background:#2c323b;height:55px;}
nav .common{height:55px;}
nav .common .nav_left{height:55px;float:left;}
nav .common .nav_left li{float:left;line-height:55px;padding:0 30px;height:55px;}
nav .common .nav_left li a{color:#fff;font-size:16px;}
nav .common .nav_left li a:hover{text-decoration:none;}
nav .common .nav_left li:nth-of-type(3){background:#0c8ed9;}
nav .common .nav_left li:last-of-type{width:113px;height:55px;line-height:55px;padding:0 25px 0 30px;position:relative;z-index:50;}
nav .common .nav_left li:last-of-type a{float:left;}
nav .common .nav_left li:last-of-type em{width:11px;height:6px;float:left;background:url(../img/arrow_up.png);margin:25px 0 0 12px;}
/* 搜索框更多目录left:499px;top:133px; */
nav .common #posit .nav_more{position:absolute;top:55px;left:0px;float:right;z-index: 10;display:none;}
nav .common #posit .nav_more li{width:113px;height:30px;background:#0a0a0a;text-align:center;line-height:30px;font-size:14px;padding-left:40px;}
nav .common #posit .nav_more li:nth-of-type(3){background:#0a0a0a;}
nav .common #posit .nav_more li:last-of-type{height:30;line-height:30px;}
nav .common #posit .nav_more li a{color:#c2cdc9;text-decoration:none;}
nav .common .nav_right{float:left;}
nav .common .nav_right li{float:left;padding-left:50px;height:55px;line-height:60px;}
nav .common .nav_right li a{text-decoration:none;color:#bbb;}
nav .common .nav_right li a:hover{color:#0c8ed9;}
nav .common .nav_right li:nth-of-type(1){background:url(../img/music_1.png) no-repeat 30px 23px;margin-left:92px;}
nav .common .nav_right li:nth-of-type(2){background:url(../img/music_2.png) no-repeat 30px 23px;}
nav .common .nav_right li:nth-of-type(3){background:url(../img/music_3.png) no-repeat 30px 23px;}
nav .common .nav_right li:nth-of-type(4){background:url(../img/music_4.png) no-repeat 30px 23px;}
nav .common .nav_right li:nth-of-type(5){background:url(../img/music_5.png) no-repeat 30px 23px;}
/* 目录 */
.loacation{height:40px;}
.loacation .common{height:40px;line-height: 40px;}
.loacation .common a:hover{text-decoration:none;color:#0c8ed9;}
/* 位置 */
.middle{height:355px;background:#f8f8f8;}
.middle .common{height:355px;padding-top:50px;}
.middle .common li{width:320px;height:255px;background:#fff;margin-right:20px;padding-top:20px;float:left;}
.middle .common li:last-of-type{margin-right:0;}
.middle .common li p:first-of-type{height:12px;line-height:12px;padding-left:253px;}
.middle .common li span{display:block;height:64px;line-height:64px;text-align:center;}
.middle .common li span:nth-of-type(2){height:18px;line-height: 18px;margin-top:26px;}
.middle .common li span:nth-of-type(2) a{font-size:18px;color:#333333;text-decoration: none;}
.middle .common li span:nth-of-type(2) a:hover{color:#0c8ed9;}
.middle .common li p:nth-of-type(2){height: 40px;line-height: 40px;text-align:center;color:#a2a2a2;}
.middle .common li span:nth-of-type(3){height:36px;line-height: 36px;margin-top:10px;}
.middle .common li span:nth-of-type(3) a{display:inline-block;height:36px;width:180px;background:url(../img/download.png) no-repeat 50px 11px;;background-color:#28a9f3;color:#fff;padding-left:20px;}
.middle .common li span:nth-of-type(3) a:hover{text-decoration: none;color:#fff;}
/* 客户端下载 */
main{height:944px;background:#eeeff0;}
main .common{height:944px;}
main .common ul{padding-top:50px;}
main .common ul li{float:left;width:320px;height:124px;margin:0 20px 20px 0;background-color:#fff;padding:20px 0 0 0px;}
main .common ul li>a:first-of-type{width:110px;height:92px;float:left;background:fff;text-align:center;padding-top:21px;}
main .common ul li p:first-of-type{height:16px;line-height:16px;}
main .common ul li p:first-of-type a{color:#333333;font-size:16px;}
main .common ul li p:first-of-type a:hover{text-decoration:none;color:#0c8ed9;}
main .common ul li p:nth-of-type(2){height:36px;line-height: 36px;color:#a2a2a2;}
main .common ul li>a:last-of-type{float:left;width:80px;height:26px;background:#28a9f3;color:#fff;line-height: 26px;text-align:center;}
main .common ul li>a:last-of-type:hover{text-decoration:none;}
main .common ul li span{float:left;width:51px;height:26px;line-height: 26px;text-align:center;color:#c3c3ce;}
main .common ul li:nth-of-type(3){margin:0 0 20px 0;}
main .common ul li:nth-of-type(6){margin:0 0 20px 0;}
main .common ul li:nth-of-type(9){margin:0 0 20px 0;}
main .common ul li:nth-of-type(12){margin:0 0 20px 0;}
main .common ul li:nth-of-type(15){margin:0 0 20px 0;}
/* 主要内容 */



footer{height: 319px;background: #2c323b;color: #b1b3b9;position: relative;}
footer .about p{height: 48px;width: 100%;border-bottom: 1px solid #3d424a;line-height: 48px}
footer .about a{color: #b1b3b9;padding: 0 15px 0 11px;border-right: 1px solid #b1b3b9}
footer .about a:last-of-type{border: 0}
footer .common {line-height: 30px;text-align: center;}
footer .common p:first-of-type{margin-top: 44px}
footer .common img{vertical-align: middle;margin-left: 6px}